<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HackCampus - A Creative Platform<">
    <meta name="author" content="Develpixel">
    <link rel="shortcut icon" href="images/H-campus.png" type="image/x-icon">
    <link rel="icon" href="images/H-campus.png" type="image/x-icon">

    <title>HackCampus - A Creative Platform</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="css/lib/font-awesome.css" rel="stylesheet">
    <!-- Zocial CSS -->
    <link href="css/lib/zocial.css" rel="stylesheet">
    <!-- VENOBOx CSS -->      
    <link rel="stylesheet" href="css/lib/venobox.css" type="text/css" />
    <!-- EXPANDING THUMBNAIL CSS -->
    <link rel="stylesheet" href="css/lib/og-component.css" type="text/css" />
    <!-- ANIMATED CSS -->
    <link href="css/lib/animate.css" rel="stylesheet">
    <!-- STYLE CSS -->
    <link href="css/style-light.css" rel="stylesheet">
    <!-- COLOR SCHEME CSS -->
    <link href="css/scheme/light-blue.css" rel="stylesheet">
    <!-- MODERNIZER JS -->
    <script src="js/lib/modernizr.custom.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-collapse">
    <!-- BEGIN OUTTER -->
    <div class="outter">
        <!-- BEGIN NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/HackCampusLogo-1.png" alt="">HackCampus</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="sscroll" href="#slides">HOME</a>
                        </li>
                        <li><a class="sscroll" href="#projects">PROJECTS</a>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">DISCUSSION <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <!-- <li><a href="light-index-video.html">INDEX VIDEO</a>
                                </li>
                                <li><a href="light-index-static.html">INDEX STATIC IMAGE</a>
                                </li>
                                <li><a href="light-blog.html">BLOG</a>
                                </li>
                                <li><a href="light-blog-post.html">BLOG POST</a>
                                </li>
                                <li><a href="light-comingsoon.html">COMING SOON</a>
                                </li>
                                <li><a href="light-shortcodes.html">SHORT CODES</a>
                                </li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- END NAVBAR -->

        <!-- BEGIN SLIDER ONE -->
        <div id="slides">
            <ul class="slides-container text-center">
                <li>
                    <!-- Slide -->
                    <img src='images/NTU-black.jpg' alt="" class="fullscreen-image" />
                    <div class="header-center fade-in">
                        <h1>
                            <span>HackCampus</span></h1>
                            <p>一起創造更好的校園</p>
                        <!-- <a href = "www.facebook.com" rel = "new"></a> -->
                        <p><a class="sscroll slider-more" href="#about"><i class="fa fa-angle-down"></i></a>
                        </p>
                    </div>
                </li>
                
                <!-- Slide -->
                <li>  
                    <img src='images/NTU-black.jpg' alt="" class="fullscreen-image">
                    <div class="header-center fade-in">
                        
                        <p>在校園生活中的你 是否有一種奇妙的感覺</p>
                        <p>在2015年 這個充滿 大數據 雲計算 各種<span>IT</span>產業爆發的年代</p>
                        <p>而學校某些部分似乎還停留在石器時代...</p>
                        <p>這樣的環境是我們認為的頂尖大學嗎？</p>
                        <p><a class="sscroll slider-more" href="#about"><i class="fa fa-angle-down"></i></a>
                        </p>
                    </div>
                </li>
                <!-- Slide -->
                <!-- <li>
                    <img src='images/home-slide-2.jpg' alt="" class="fullscreen-image" />
                    <div class="header-center fade-in">
                        <h1>Lots Of Features</h1>
                        <p>Everyone Know That You Are The Special One, If you buy this</p>
                        <p><a class="sscroll slider-more" href="#team"><i class="fa fa-angle-down"></i></a>
                    </div>
                </li> -->
            </ul>
            <nav class="slides-navigation">
                <a href="javascript:;" class="prev"><i class="fa fa-angle-left"></i></a>
                <a href="javascript:;" class="next"><i class="fa fa-angle-right"></i></a>
            </nav>
        </div>
        <!-- END SLIDER ONE -->

        <!-- BEGIN CONTENT SECTION -->
        <div class="section-outter">
            <!-- BEGIN ABOUT  -->
            <section id="about">
                <div class="section-wrapper">
                    <div class="section-title">
                        <h2 class="title animatez" data-effect="fadeInDown">ABOUT</h2>
                        <h2 class="subtitle animatez" data-effect="fadeInUp">
                            HackCampus希望結合<span class="main-color">同學在校內的觀察與創意</span>與<span class="main-color">HackNTU數百名學生的資訊實作能力</span><br>一同解決校內的問題創造更好的校園環境
                            <br>一起Hack a better Campus</h2>
                    </div>
                    <hr class="title-break">
                    <div class="section-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 mg-sm animatez" data-effect="fadeInUp">
                                    <img src="images/1427221269_responsive.devices-128.png">
                                    <h3>
                                        <strong>利用Web/Mobile/IOT技術解決校園內的問題</strong>
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-4 mg-sm animatez delay one" data-effect="fadeInUp">
                                    <img src="images/1427221469_graphs-128.png">
                                    <h3>
                                        <strong>將校內老舊的裝置做界面或是系統的改良</strong>
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-4 mg-sm animatez delay two" data-effect="fadeInUp">
                                    <img src="images/1426792279_partner-128.png">
                                    <h3>
                                        <strong>成立專案託管平台讓同學在課程中辛苦製作的Project不再白費</strong>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer big"></div>
                    <div class="section-fill bg-parallax bg-about">
                        <div class="fill-wrapper table-cell full-wrapper text-center text-vertical-center text-white">
                            <div class="section-title">
                                <h2 class="title white animatez" data-effect="fadeInDown">同學可以如何參與我們</h2>
                                <h4 class="subtitle animatez" data-effect="fadeInUp">
                                    <span class="main-color">群眾參與，提交問題到我們的平台，我們將會聯絡校內的社團、學校單位一同解決問題</span>
                                </h4>
                                <div class="spacer medium"></div>
                                <!-- <a href="javascript:;" class="btn-outline white animatez" data-effect="fadeIn">Learn More About HackCampus&nbsp;&nbsp;&rarr;</a> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="section-fill bg-parallax" data-parallax="scroll" data-image-src="images/library.jpg">
                        <div class="fill-wrapper">
                            <div class="section-title">
                                <h2 class="title white animatez" data-effect="fadeInDown">同學可以如何參與我們</h2>
                                <h4 class="subtitle animatez" data-effect="fadeInUp">
                                    <span class="main-color">群眾參與，提交問題到我們的平台，我們將會聯絡校內的社團、學校單位一同解決問題</span>
                                </h4>
                                <div class="spacer medium"></div>
                                <a href="javascript:;" class="btn-outline white animatez" data-effect="fadeIn">Learn More About HackCampus&nbsp;&nbsp;&rarr;</a>
                            </div>
                        </div>
                    </div> -->


                </div>
            </section>
            <!-- END ABOUT -->

            

            <!-- BEGIN TEAM -->
            
            <!-- BEGIN PORTFOLIO -->
            <section id="projects" class="portfolio">

                <div class="section-wrapper">
                    <div class="section-title">
                        <h2 class="title animatez" data-effect="fadeInDown">PROJECTS</h2>
                        <h4 class="subtitle animatez" data-effect="fadeInUp">Our Work
                            <span class="main-color">Showcase</span>
                        </h4>
                    </div>
                    <hr class="title-break">

                    <div class="section-inner">
                        <ul id="og-grid" class="og-grid">
                            
                            <li class="animatez" data-effect="fadeIn">
                                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/logo-1.png" data-title="NTU Laundry" data-description="台大住宿生在使用洗衣機的流程上，常常會出現問題，第一，有些宿舍的洗衣機都放置在同一個樓層，每當要洗衣服時，使用者都得跑一趟到有洗衣機的那層樓去看是否有人正在使用，來回跑來跑去造成許多不方便；第二，有些使用者洗衣服時，不喜歡將洗衣籃放置在洗衣機旁，若衣服洗好時沒有將衣服即時拿回，下一個使用者就必須等待，或者將前一個人洗好的衣服隨意丟到別處，這麼一來，前一個使用者洗好的衣服便髒掉了。我們認為，如果可以讓使用者觀看他所居住的宿舍中每一台洗衣機的狀態，並且在使用者衣服洗好的瞬間發訊息通知他，便可以解決問題。我們想做的是一個洗衣狀態通知app，讓住宿生的洗衣流程更加順暢。">
                                    <div class="og-overlay"></div>
                                    <span class="og-title">NTU Laundry</span>
                                    <img src="images/logo-1.png" alt="img01" style="max-width:300px" />
                                </a>
                            </li>
                            <li class="animatez" data-effect="fadeIn">
                                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="images/NTU Library.png" data-title="智慧選位系統 X 總圖自習室" data-description="問題：許多同學抱怨目前的總圖B1自習室的選位介面非常的難用，導致大家都先用隨機選位進去，找一個自己喜歡的位子坐下後，記下新座位的號碼，再到選位機進行換位，但常常會發現明明是空的位子卻已經被占用了。這代表許多人隨機選位進來之後就沒有換座位了，久而久之大家也都習慣隨意找一個空位使用，導致大家都亂坐座位。
                                如何解決：我們認為問題的本質除了圖書館選位系統界面的不直覺之外，還有許多的問題是沒被發現的，因此將透過使用者訪談，探討怎麼樣的選位方式是符合使用者真正的需求，並將現有的選位系統作全面改善。">
                                    <div class="og-overlay"></div>
                                    <span class="og-title">Smart Seat System x NTU Library</span>
                                    <img src="images/1429994028_vector_282_08-01-128.png" alt="img02" style="max-width:300px" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="spacer big"></div>

                    <!-- BEGIN TESTIMONIAL -->
                    <!-- <div class="section-fill">
                        <div class="fill-wrapper" style="background:#3a3c42;">
                            <div class="section-title">
                                <h2 class="white medium">
                                    Trusted by
                                    <strong style="font-size:38px;font-weight:900;">35,
                                        <span class="timer countTo" data-from="111" data-to="487" data-speed="800">111</span>
                                    </strong>&nbsp;creative agencies.
                                </h2>
                            </div>
                            <div class="spacer medium"></div>
                            <div class="section-inner">
                                <div class="section-testimonial">
                                    <ul class="testimonial-list">
                                        <li class="testimonial-item">
                                            <a href="javascript:;" data-rel='1'></a>
                                            <div class="testi-link"></div>
                                            <img class="testimonial-icon" src="images/quote-icon.png" alt="quote-icon">
                                            <img src="images/testi-1.jpg" alt="img-1">
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="spacer medium"></div>
                                <div class="testimonial-slider">
                                    <ul>
                                        <li>
                                            
                                            <p>The Rindu user interface is clean and intuitive, and it's easy to customize. I'm really happy with it so far!</p>
                                            <span class='testimonial-author'>Chandra Noor, CEO Ihrish.com</span>
                                        </li>
                                        
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div> -->
                    <!-- END TESTIMONIAL -->
                </div>
            </section>
            <!-- END PORTFOLIO -->


            <section id="team">
                <div class="section-wrapper">
                    <div class="section-title">
                        <h2 class="title animatez" data-effect="fadeInDown">SOLID TEAM</h2>
                        <!-- <h4 class="subtitle animatez" data-effect="fadeInUp">Natural selection
                            <span class="main-color">is anything</span>&nbsp;but random</h4> -->
                    </div>
                    <hr class="title-break">
                    <div class="section-inner section-team">
                        <div class="container">
                            <div class="row">
                                <!-- PERSON -->
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/James.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>葉家豪</strong>
                                            </h4>
                                            <span>總召</span>
                                            <p>電機所</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /PERSON -->
                                <!-- PERSON -->
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez delay two" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/Kelly.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>蘇筱晴</strong>
                                            </h4>
                                            <span>副召</span>
                                            <p>資管系大三</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /PERSON -->
                                <!-- PERSON -->
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez delay three" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/Rick.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>李昱賢</strong>
                                            </h4>
                                            <span>媒體公關</span>
                                            <p>資管系大三</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez delay three" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/Lucien.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>李柏緯</strong>
                                            </h4>
                                            <span>設計顧問</span>
                                            <p>網媒所碩二</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez delay three" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/Eric.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>辛爾康</strong>
                                            </h4>
                                            <span>設計總監</span>
                                            <p>電機系大三</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez delay three" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/Puchin.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>陳步青</strong>
                                            </h4>
                                            <span>技術總監</span>
                                            <p>資工系大四</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- /PERSON -->
                            </div>
                        </div>
                    </div>
                    <div class="spacer big"></div>
                    <!-- BEGIN VIDEO -->
                    <!-- <div class="section-fill">

                        <div class="video-wrapper">
                            <div class="bg-video" style="background:url('images/bg-video.jpg');"></div>
                            <div class="video-overlay"></div>
                            <div class="fill-wrapper">
                                <div class="section-title">
                                    <h1 class="white animatez" data-effect="fadeInDown">
                                        <strong>Video</strong>&nbsp;Profile
                                    </h1>
                                    <h3 class="subtitle white animatez" data-effect="fadeInUp">
                                        Phasellus quis
                                        <strong>lectus metus</strong>&nbsp;at posuere neque jused pharetra.
                                    </h3>
                                    <div class="spacer small"></div>
                                </div>
                                <div class="imac-wrapper animatez" data-effect="slideInDown">
                                    <a href="http://youtu.be/kNVhtJx-5VY" data-type="youtube" class="popup">
                                        <img src="images/imac.png" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- END VIDEO -->
                </div>
            </section>
            <!-- END TEAM -->


            <!-- BEGIN CONTACT -->
            <!-- <section id="contact">
                <div class="section-wrapper">
                    <div class="section-title">
                        <h2 class="title animatez" data-effect="fadeInDown">CONTACT US</h2>
                        <h4 class="subtitle animatez" data-effect="fadeInUp">Don't hesitate to get in touch with us.
                            <br/>We would love to discuss on your project</h4>
                    </div>
                    <hr class="title-break">
                    <div class="section-inner">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-6 mg-sm animatez" data-effect="fadeIn">
                                    <form role="form" class="text-left">
                                        <div class="form-group">
                                            <label for="inputEmail1">Email address*</label>
                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputText1">Name*</label>
                                            <input type="text" class="form-control" id="inputText1" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="textArea1">Message*</label>
                                            <textarea id="textArea1" class="form-control" rows="6"></textarea>
                                        </div>
                                        <div class="spacer small"></div>
                                        <button type="submit" class="btn btn-lg btn-dark btn-default">Submit</button>
                                    </form>
                                </div>
                                <div class="col-md-6 mg-sm text-left animatez" data-effect="fadeIn">
                                    <h4>Get to know us</h4>
                                    <p>
                                        At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum un deleniti atqueste sites excep turiitate non providentsimils.
                                    </p>
                                    <div class="spacer small"></div>
                                    <h4>
                                        <strong>Rindu Office</strong>
                                    </h4>
                                    <p>
                                        133 Elizabethstreet
                                        <br>Mirror City 4000
                                        <br>Srandakan
                                    </p>
                                    <p>
                                        088 2789 92 29
                                        <br>
                                        <a href="mailto:#">support@rindu.kamu</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer big"></div>
                </div>
            </section> -->
            <!-- END CONTACT -->

            <footer class="footer white section-wrapper">
                
                
                <div class="footer-logo">
                    <img src="images/H-campus-L.png" alt="" style="max-width:100px">
                    <span>Hack A Better Campus</span>
                </div>
                <p class="copyright">&copy; 2014 DevelPixel. All Rights Reserved</p>
                <a href="https://www.facebook.com/hackNTU?fref=ts"><i class="fa fa-facebook" style = "color:white;height:31px;width:31px;border:1px solid white;border-radius:50%;line-height:2em"></i></a>
                <div class="spacer big"></div>

            </footer>

        </div>
        <!-- END CONTENT SECTION -->

        <!---->
    </div>
    <!-- END OUTTER -->

    <!-- BACK TO TOP -->
    <div class="totop" id="backtotop">
        <span>
            <a href="#home" class="first sscroll"><i class="fa fa-angle-up"></i></a>
            <a href="#home" class="hover sscroll"><i class="fa fa-angle-up"></i></a>
        </span>
    </div>
    <!-- END BACK TO TOP -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- EXPANDING THUMBNAIL JS -->
    <script src="js/lib/grid.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- SUPER SLIDES JS -->
    <script src="js/lib/jquery.superslides.js"></script>
    <!-- JQUERY BACK TO TOP -->
    <script src="js/lib/jquery.backtotop.js"></script>
    <!-- JQUERY PARALLAX -->
    <script src="js/lib/parallax.min.js"></script>
    <script src="js/lib/jquery.parallax.js"></script>
    <!-- JQUERY BACKGROUND VIDEO -->
    <script src="js/lib/jquery.backgroundvideo.js"></script>
    <!-- JQUERY VENOBOX VIDEO -->
    <script src="js/lib/venobox.min.js"></script>
    <!-- JQUERY WAYPOINT -->
    <script src="js/lib/waypoints.js"></script>
    <!-- JQUERY WAYPOINT -->
    <script src="js/lib/jquery.countTo.js"></script>
    <!-- JQUERY SMOOTH SCROLL -->
    <script src="js/lib/jquery.smooth-scroll.min.js"></script>
    <!-- JQUERY FITVID -->
    <script src="js/lib/jquery.fitvid.js"></script>
    <!-- JQUERY MASONRY LAYOUT 
    <script src="js/lib/masonry.pkgd.min.js"></script>-->
    <!-- JQUERT SUDO SLIDER JS -->
    <script src="js/lib/jquery.sudoslider.min.js"></script>
    <!-- MAIN JS -->
    <script src="js/main.js"></script>
</body>

</html>